################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/C++ repository OOP DO NOT DELETE!!!!!!!!!!!!!!/.vs/C++ repository OOP DO NOT DELETE!!!!!!!!!!!!!!/v16/ipch/AutoPCH/ee87fd013d141ce
/C++ repository OOP DO NOT DELETE!!!!!!!!!!!!!!/.vs/C++ repository OOP DO NOT DELETE!!!!!!!!!!!!!!/v16
